<div>

    <!--
	<div class="col-md-6">
		<h4> List Of Items </h4>	
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="items in listItems">
				<p>{{items.Title}}</p>
			</li>
		</ul>
	</div>
	-->
    <div class="table-responsive col-md-6">
        <input type="text" ng-model="search" placeholder="Filter Song Here" class="form-control">
        <br>
        <table class="table table-condensed table-striped table-bordered table-hover no-margin">
            <thead>
                <tr>
                    <th style="width:7%">ID</th>
                    <th style="width:55%" class="hidden-phone">Title</th>
                    <th style="width:20%" class="hidden-phone">Artist</th>
                    <th style="width:10%" class="hidden-phone">Artist</th>
                    <th style="width:8%" class="hidden-phone">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in listItems | filter:search">
                    <td>{{item.Id}}</td>
                    <td>{{item.Title}}</td>
                    <td>{{item.Artist.Title}}</td>
                    <td><button type="button" ng-click="playSong(this)" class="btn btn-warning">Play Song</button></td>
                    <td>
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle" data-original-title="" title="">
                                Action
                                <span class="caret">
              </span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href ng-click="redirectToEditRoute(item)">Edit</a>
                                </li>
                                <li>
                                    <a href ng-click="deleteSong(item)">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

	<youtube-video video-id="videoId"></youtube-video>
	<!--<iframe height="300" width="400" ng-src="{{trustSrc(videoUrl)}}" frameborder="2" allowfullscreen></iframe>-->
</div>