<div id="viewAdd">
    <h2><b>Add Artist</b></h2>
    <br>
	<center>
	<div class="form-group viewForm">
       <label class="col-md-2 control-label">Artist</label>
       <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
             <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
             <input placeholder="Artist Name" class="form-control" type="text" ng-model="artist">
          </div>
       </div>
    </div>
    
    
    
    <div class="form-group">
       <label class="col-md-2 control-label"></label>
       <div class="col-md-4">
          <br> 
          <button type="button" ng-click="eSubmit()" class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
          <button type="button" ng-click="eCancel()" class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCancel <span class="glyphicon glyphicon-remove"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
       </div>
    </div>
            
</center>       
</div>